@model IEnumerable<Biblioteca.Models.Biblioteca.Autor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",new object { }, new { @class= "btn btn-primary" })
</p>
<table class="table" id="Lista">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nacionalidad")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeNacimiento)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>



@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            let table = new DataTable('#Lista', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
                }
            });
        })

    </script>

}